.footer-desktop {
  display: flex;
  flex-direction: column;
  margin-block-start: 2.75rem;
  padding: 3.125rem 3.125rem 1.875rem 3.125rem;
  background-color: #24252a;
}

.services-container {
  display: flex;
  gap: 10rem;
}
    
.services-container div h3 {
  font-family: SF-Regular;
  color: #edf0f1;
  margin-block-end: .75rem;
}
    
.services-container div ul li {
  list-style: none;
  line-height: 1.5rem;
}
    
.services-container div ul li a {
  font-family: SF-Regular;
  text-decoration: none;
  color: #edf0f185;
}
    
.services-container div ul li a:hover {
  text-decoration: underline;
  background: none;
}


/* Mobile  */

.footer-mobile {
  display: flex;
  flex-direction: column;
  margin-block-start: 1.875rem;
  padding: 3.125rem 3.125rem 1.875rem 3.125rem;
  background-color: #24252a;
}

.footer-mobile summary {
  font-family: SF-Regular;
  margin-block-end: 1rem;
  font-size: 1.15rem;
  color: #edf0f185;
  margin-top: .75rem;
}
    
.footer-mobile li {
  list-style: none;
  font-size: .95rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer-mobile a {
  font-family: SF-Regular;
  color: #edf0f1;
  text-decoration: none;
}
    
.footer-mobile a.active, .footer-mobile a:hover{
  background: none;
  text-decoration: underline;
  transition: 0.3s;
}

@media screen and (min-width: 950px) {
  .footer-mobile {
    display: none;
  }
}
      
@media screen and (max-width: 950px) {
  .footer-desktop {
    display: none;
  }
}