.frontpage {
  width: 100%;
  height: 600px;
  padding-top: 50px;
  background: rgb(250, 250, 250);
  background-image: url(../Imagenes/Iphone13.png);
  background-repeat: no-repeat;
  background-position: center bottom;

  margin-block-end: 1.25rem;
}


.iphone13 {
  text-align: center;
  padding: 0 4%;
}

.iphone13-h1 {
  font-size: 3.5rem;
  color: #24252a;;
}

.iphone13-p {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  color: #86868b;
}

.iphone13-link {
  margin-top: 18px;
  font-size: 20px;
}

.iphone13-link a {
  display: inline-block;
  color: #0071e3;
  margin: 0px 15px;
  text-decoration: none;
}
  
.iphone13-link a:hover {
    text-decoration: underline;
}