.productlist {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.productlist-container {
    display: flex;
    flex-direction: column;
}

.productlistList-container {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding-block-start: .5rem;
    padding: 1.25rem;
}

.productlistList-container > * {
    flex-shrink: 0;
}

.product-tittle {
    font: var();
    color: var();
    margin: 0;
}