* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
}

header {
  display: block;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #24252a;
}

nav{
  height: 100%;
  width: 100%;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 7px;
}

nav ul li a{
  font-size: 16px;
  color: #B3B3B3;
  text-decoration: none;
  padding: 10px 13px;
  border-radius: 3px;
  text-transform: uppercase;

}

a.active, a:hover{
  background: #edf0f113;
  transition: 0.3s;
}

.nav_links li a:hover {
  color: #edf0f185;
}

.logo {
  height: 25px;
  float: left;
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.checkbtn{
  font-size: 22px;
  color: #B3B3B3;
  float: right;
  margin-top: 22px;
  margin-right: 50px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 1300px) {
  .checkbtn{
    display: block;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #24252a;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover, a.active{
    background: none;
    color: #24252a;
  }
  #check:checked ~ ul{
    left: 0;
  }
}



/* main */

main {
  padding-top: 70px;
}

.section1 {
  width: 100%;
  /* height: 590px; */
  height: 650px;
  padding-top: 50px;
  background: url(Imagenes/Iphone13.png) rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 35%;
  /* margin-bottom: 50px; */
}

@media (max-width: 1200px) {
  .section1 {
    background-size: 45%;
  }
}

@media (max-width: 100px) {
  .section1 {
    background-size: 55%;
  }
}

@media (max-width: 800px) {
  .section1 {
    background-size: 65%;
  }
}

@media (max-width: 600px) {
  .section1 {
    background-size: 75%;
  }
}

.iphone13 {
  text-align: center;
  padding: 0 12%;
}

.iphone13-h1 {
  font-size: 56px;
  color: #24252a;;
}

.iphone13-p {
  margin-top: 20px;
  font-size: 20px;
  color: #86868b;
}

.iphone13-link {
  margin-top: 18px;
  font-size: 20px;
}

.iphone13-link a {
  display: inline-block;
  color: #0071e3;
  margin: 0px 15px;
  text-decoration: none;
}

.iphone13-link a:hover {
  text-decoration: underline;
}








.section2,
.section3 {
  display: grid;
  height: 525px;
  grid-template-areas: "img1 img2 img3";
  gap: 30px;
  margin: 10px 70px 10px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto {
  width: 100%;
  height: 95%;
  border-radius: 10px;
}

.producto:hover {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.titulo {
  color: #24252a;
  font-size: 28px;
  position: absolute;
  margin: 30px 30px;
  text-align: center;
}

.producto_img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.cta {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  margin: -70px 240px;
  background-color: #0071e3;
  padding: 10px 20px;
  border-radius: 10px;
}

.cta a {
  text-decoration: none;
  color: #edf0f1;
}

.cta:hover {
  background-color: #0071e3ce;
  transform: translateY(-1px);
}

/* footer */
footer {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 50px 30px 50px;
  background-color: #24252a;
}

footer .contenedor {
  width: 95%;
  display: grid;
  grid-gap: 0x;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contenedor div h3 {
  color: #edf0f1;
  margin-bottom: 10px;
}

.contenedor div ul li {
  list-style: none;
  color: #edf0f175;
  line-height: 25px;
}

.contenedor div ul li a {
  text-decoration: none;
  color: #edf0f185;
}

.contenedor div li a:hover {
  text-decoration: underline;
}
